<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tags.getName()}"></title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1955832_rwekflcpia.css">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="css/tagsdetail.css" th:href="@{/css/tagsdetail.css}">
    <link rel="icon" href="favicon.png" th:href="@{/favicon.png}">
</head>
<body>
    <div>
        <!-- 顶部栏 -->
        <div th:replace="views/commons/component :: top_bar (${root},${count},'tags')"></div>
        <!-- 侧边栏 -->
        <div th:replace="views/commons/component :: sidebar (${root},${count},'tags')"></div>
        <!-- 信息栏 -->
        <div class="box_right">
            <div>
                <div class="text_741X1" th:text="${tags.getName()}"></div>
                <div class="box_732X1"  th:each="list:${article.list}">
                    <div class="image_96X1">
                        <img src="images/img1.jpg" th:src="${list.getImg()}" alt="">
                    </div>
                    <div class="text_730">
                        <h1 class="text_731X1"><a th:href="@{article(id=${list.getId()})}" th:text="${list.getTitle()}">文章标题</a></h1>
                        <p class="text_730X1" th:text="${list.getDescription()}">文章简介文章简介文章简介文章简介文
                            章简介文章简介文章简介文章简介文章简介文章简介文章简介文
                            章简介文章简介文章简介文章简介文章简介文章简介。文章简介文章简介文章简介文章简介文
                            章简介文章简介文章简介文章简介文章简介文章简介文章简介文
                            章简介文章简介文章简介文章简介文章简介文章简介。文章简介文章简介文章简介文章简介文
                            章简介文章简介文章简介文章简介文章简介文章简介文章简介文
                        </p>
                        <div class="text_740">
                            <div class="image_95X1">
                                <img src="images/img1.jpg" alt="">
                            </div>
                            <span class="text_725X1" th:text="${list.getAuthor()}">Array</span>
                            <span class="text_725X1" th:text="${list.getCopyright()}" style="color: #e33c64;">原创</span>
                            <span class="text_725X1" style="color: rgba(255, 141, 26, 1);">阅读:<span th:text="${list.getTraffic()}"></span></span>
                            <!--   -->
                            <span class="text_725X1" th:if="${list?.getTags()?.getName()} != null" th:text="${list?.getTags()?.getName()}" style="color: rgba(67, 207, 124, 1);">JavaScript</span>
                            <span class="text_725X1" th:text="${#dates.format(list.getTime(), 'yyyy-MM-dd')}" style="color: rgba(121, 72, 234, 1);">Oct 13, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分页栏 -->
<!--        <div th:replace="commons/component :: ipage"></div>-->
        <div class="ipage box_right" th:if="${article.total} > 3">
            <ul class="ipagination">
                <a href="#" th:class="${article.hasPreviousPage?'':'no-click'}" th:href="@{tagsdetail(id=${tags.getId()},page=1)}"><li><i class="iconfont icondajiantou-zuo"></i></li></a>
                <a href="#" th:class="${article.hasPreviousPage?'':'no-click'}" th:href="@{tagsdetail(id=${tags.getId()},page=${article.prePage})}"><li><i class="iconfont iconjiantou-zuo"></i></li></a>
                <span th:each="num:${article.navigatepageNums}">
                <a href="#" th:href="@{tagsdetail(id=${tags.getId()},page=${num})}"><li class="iactive" th:class="${article.pageNum==num?'iactive':''}" th:text="${num}">1</li></a>
            </span>
                <a href="#" th:class="${article.hasNextPage?'':'no-click'}" th:href="@{tagsdetail(id=${tags.getId()},page=${article.nextPage})}"><li><i class="iconfont iconjiantou"></i></li></a>
                <a href="#" th:class="${article.hasNextPage?'':'no-click'}" th:href="@{tagsdetail(id=${tags.getId()},page=${article.pages})}"><li><i class="iconfont icondajiantou-you"></i></li></a>
            </ul>
        </div>
        <!-- 底部栏 -->
        <div th:replace="views/commons/component :: foot"></div>

        <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="js/script.js" th:src="@{/js/script.js}"></script>
    </div>
</body>
</html>