<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="icon" href="favicon.png" th:href="@{/favicon.png}">
    <style>
        body{
            background-color: rgba(243, 246, 247, 1);
        }
        h1{
            text-align: center;
            font-size: 200px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: rgba(80, 80, 80, 1);
        }
    </style>
</head>
<body>
<h1>404</h1>
</body>
</html>